<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/userreg.css}">
</head>
<body>
<main>
    <div class="signup-box">
        <div class="signup-head">
            <p>SIGNUP</p>
        </div>

        <form th:action="@{/velog/userregform}" method="post" enctype="multipart/form-data">
            <div class="signup-body">
                <div class="left-box">
                    <div class="profile_image_label">
                        <label for="profileImageFile">Profile Image</label>
                    </div>
<!--                    <div class="default-image">-->
<!--                        <img src="/images/bono.png" alt="Default Profile Image">-->
<!--                    </div>-->
                    <input type="file" id="profileImageFile" name="profileImageFile" accept="image/*">
                    <br>
                </div>
                <div class="right-box">
                    <div class="input-container">
                        <label for="username">Username:</label><br>
                        <input type="text" id="username" name="username" required>
                        <br>
                    </div>
                    <div class="input-container">
                        <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" required>
                        <br>
                    </div>
                    <div class="input-container">
                        <label for="name">Velog Name(*default username):</label><br>
                        <input type="text" id="name" name="name">
                        <br>
                    </div>
                    <div class="input-container">
                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password" required>
                        <br>
                    </div>
                    <div class="input-container">
                        <div class="role-select">
                            Role:
                            <input type="radio" id="role" name="role" value="admin"><label for="role">admin</label>
                            <input type="radio" id="role2" name="role" value="user"><label for="role2">user</label>
                            <button type="submit">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>