<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="/css/navbar.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar" th:fragment="nav(loginUser)">
    <div class="container">
        <a class="navbar-brand" href="/">Velog</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav" th:if="${loginUser != null}">
                <li class="nav-item">
                    <a class="btn" href="/writepost">새 글 작성</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle" id="profileDropdown" role="button">
                        <span th:text="${loginUser}"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" th:href="${'/@' + loginUser + '/posts'}">내 벨로그</a></li>
                        <li><a class="dropdown-item" href="/saves">임시 글</a></li>
                        <li><a class="dropdown-item" href="/lists/liked">읽기 목록</a></li>
                        <li><a class="dropdown-item" href="/setting">설정</a></li>
                        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav" th:if="${loginUser == null}">
                <li class="nav-item">
                    <a class="btn login-btn" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
