<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav th:replace="~{navbar::nav(loginUser=${loginUser})}"></nav>
<main>
    <div class="container" id="blog" th:blogOwner="${blogOwner}" th:loginUser="${loginUser}">
        <section class="section" id="blog-info">
            <img id="blog-profile" src="" alt="Profile Picture">
            <h1 id="blog-name"></h1>
            <p id="blog-description"></p>
        </section>
        <hr class="section-divider">
        <section class="section" id="blog-follow">
            <div id="blog-follower">
                <span id="follower-count"></span>
                <span>팔로워</span>
            </div>
            <div id="blog-following">
                <span id="following-count"></span>
                <span>팔로잉</span>
            </div>
            <div>
                <button type="button" class="btn" id="follow-button"></button>
            </div>
        </section>
        <hr class="section-divider">
        <section class="section" id="blog-main-content">
        </section>
    </div>
</main>
<script src="/js/blog.js"></script>
</body>
</html>
